name: Release

on:
  release:
    types: [created]

jobs:
  release:
    runs-on: development
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile
      - run: pnpm run compile

      - run: pnpm publish --no-git-checks --access public
        working-directory: ./packages/query-builder
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
